.loveMessage{
    color: var(--clr-eerie-black);
    font-size: 2rem;
    padding: 3rem;
    margin: 1rem;
    display:inline-flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    text-align: justify;
    font-weight: 300;
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .loveMessage{
        width: 50%;
        font-size: 1.4rem;
        display: block;
        margin: 1rem auto;
    }
}