:root{
    --clr-denim: #045CB4;
    --clr-chestnut: #A33B29;
    --clr-magnolia: #EFE9F4;
    --clr-eerie-black: #171D1C;
    --clr-process-cyan: #08B2E3;
    --clr-gray: #dddddd;
}

.wrapper{
    margin-top: 1rem;
}

.card li{
    overflow: hidden;
    box-shadow: 0 2px 15px var(--clr-gray);
    border-radius: 0.2rem;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: transform 200ms ease-in;
}
.card ul{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 32rem));
    gap: 3rem;
    justify-content: center;
}

.card__image{
    height: 12rem;
    width: 100%;
    object-fit: cover;
}

.card__title{
    padding: 1rem;
    color: var(--clr-eerie-black);
}

.card__description{
    padding: 0 1rem;
    color: var(--clr-eerie-black);
    text-align: justify;
    font-size: 1.2rem;
}

.card__btn{
    padding: 1rem;
    font-family: inherit;
    font-weight: 500;
    font-size: 1.3rem;
    margin: 1rem;
    text-decoration: none;
    text-align: center;
    border: 2px solid var(--clr-chestnut);
    background-color: var(--clr-chestnut);
    color: white;
    border-radius: 0.3rem;
    transition:background-color 200ms ease-in, color 200ms ease-in;   
}
.card__btn:hover{
    transform: scale(1.03);
}
