.errorContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.errorImage{
    width: 70%;
    margin-top: -1.5rem;
}

.paragraph{
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 2.5rem;
    text-align: center;
    padding: 0 3rem 1rem;
}

@media only screen and (min-width: 768px) {
    /* For desktop: */

    .errorImage{
        width: 60%;
        margin-top: -5rem;
    }

    .paragraph{
        font-size: 2.5rem;
    }
    .errorContainer{
        padding-bottom: 2rem;
    }
}