.dropdown__menu{
    background-color: var(--clr-denim);
    width: 100%;
    position: absolute;
}

.dropdown__menu ul li{
    border-top: solid 0.1rem rgba(255, 255, 255, .5);
}

.dropdown__menu::before{
    content: '';
    height: 0;
    width: 0;
    background-color: transparent;
}

.active{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: var(--speed) ease;
}
.inactive{
    opacity: 0;
    visibility: hidden;
    transform: translateY(-2rem);
    transition: var(--speed) ease;
}

.dropdown__item{
    display: flex;
    padding: 1.2rem ;
    font-size: 1.3rem;
    flex-direction: column;
    text-align: center;
    color: white;
    list-style-type: none;
}

.dropdown__item > a{
    text-decoration: none;
    color: white;
}

@media only screen and (min-width: 768px) {
    /* For desktop: */

    .dropdown__menu{
        width: 30rem;
        position: absolute;
        right: 2rem;
    }
}