.recipe{
    font-size: 1.5rem;
    margin: 3rem;
    color:#171D1C;
}

h2{
    text-align: center;
    color: #A33B29;
}

.recipe img{
    width: 100%;
    height: 25rem;
    object-fit: cover;
    display: flex;
    padding: 1rem auto;
    margin-top: 1rem;
    margin-bottom: 3rem;
    border-radius: 1rem;
}

h3{
    color: #A33B29;
}

ul, ol{
    padding: 0.5rem 1rem;
    list-style-position: inside;
}

.ingredients p{
    padding: 0.25rem 0;
    padding-bottom: 1rem;
    
}

ul li, ol li{
    padding: 0.25rem;
    text-align: justify;
}

footer{
    font-weight: bold;
    padding-top: 3rem;
    display: flex;
    justify-content: center;
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    h2{
        font-size: 4rem;
    }
    h3{
        font-size: 2rem;
    }
    .recipe img{
        width: 50%;
        height: 35rem;
        margin: 2rem auto;
        margin-bottom: 3rem;
    }
}