.recipe > .recipeTitle{
    color: var(--clr-chestnut);
    font-size: 3rem;
    padding-top: 1rem;
    text-align: center;
}

@media only screen and (min-width: 1000px) {
    /* For desktop: */

    .recipeTitle{
        font-size: 4rem;
        text-align: left;
    }
}